# **Yeison Bermudez**


**1751400**


**Cuaderno #8 - Pandas avanzado**


**22 de Noviembre del 2019**

## Agrupamiento, agregación y pivote

Preparación de datos.

In [1]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [2]:
## Lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

### Agrupamiento

Los dataframes de Pandas pueden ser intepretados en ocasiones como tablas de SQL en donde es posible realizar agregaciones y operaciones simples sobre los campos.

In [3]:
## Se agrupa el set de datos por una columna dada
x.sort_index(1, ascending = False).head()

  variety  sepal.width  sepal.length  petal.width  petal.length
0  Setosa          3.5           5.1          0.2           1.4
1  Setosa          3.0           4.9          0.2           1.4
2  Setosa          3.2           4.7          0.2           1.3
3  Setosa          3.1           4.6          0.2           1.5
4  Setosa          3.6           5.0          0.2           1.4

In [4]:
## ordena por varias columnas
## devuelve los indices de las filas
## ordena primero por Sepal.Width y luego por Sepal.Length
x.sort_values(by = ['sepal.width', 'sepal.length']).head(10)

     sepal.length  sepal.width  petal.length  petal.width     variety
60            5.0          2.0           3.5          1.0  Versicolor
62            6.0          2.2           4.0          1.0  Versicolor
119           6.0          2.2           5.0          1.5   Virginica
68            6.2          2.2           4.5          1.5  Versicolor
41            4.5          2.3           1.3          0.3      Setosa
93            5.0          2.3           3.3          1.0  Versicolor
53            5.5          2.3           4.0          1.3  Versicolor
87            6.3          2.3           4.4          1.3  Versicolor
57            4.9          2.4           3.3          1.0  Versicolor
80            5.5          2.4           3.8          1.1  Versicolor

In [5]:
## partición por los valores de la columna `variety`
y = x.groupby('variety')
y.groups.keys()

dict_keys(['Setosa', 'Versicolor', 'Virginica'])

In [6]:
## Cantidad de grupos. Este comando funciona como un select distintc en SQL
len(y.groups)

3

In [7]:
## Cantidad de grupos. Funciona como un agrupamiento y conteo por la columna variety en SQL.
y.size()

variety
Setosa        50
Versicolor    50
Virginica     50
dtype: int64

In [8]:
## Elementos de un subgrupo agregado.
x.loc[y.groups['Setosa']].head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [9]:
## Elementos de otro subgrupo
x.loc[y.groups['Virginica']].head()

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica

### Agregación

Es posible realizar operaciones simples sobre las columnas o filas de un dataframe de Pandas. A continuación algunas de ellas:

In [10]:
## Se aplica la suma de cada columna para cada especie. La salida es un nuevo dataframe.
x.groupby('variety').sum()

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             250.3        171.4          73.1         12.3
Versicolor         296.8        138.5         213.0         66.3
Virginica          329.4        148.7         277.6        101.3

In [11]:
## Se seleccionan solo para la medida Sepal_Length
(x.groupby('variety').sum())["sepal.length"]

variety
Setosa        250.3
Versicolor    296.8
Virginica     329.4
Name: sepal.length, dtype: float64

In [12]:
## conteo de casos.
## número de casos por `variety`
x['variety'].value_counts()

Versicolor    50
Setosa        50
Virginica     50
Name: variety, dtype: int64

In [13]:
## conteo de casos por `Sepal.Length`
x['sepal.length'].value_counts()

5.0    10
6.3     9
5.1     9
6.7     8
5.7     8
5.5     7
5.8     7
6.4     7
6.0     6
4.9     6
6.1     6
5.4     6
5.6     6
6.5     5
4.8     5
7.7     4
6.9     4
5.2     4
6.2     4
4.6     4
7.2     3
6.8     3
4.4     3
5.9     3
6.6     2
4.7     2
7.6     1
7.4     1
4.3     1
7.9     1
7.3     1
7.0     1
4.5     1
5.3     1
7.1     1
Name: sepal.length, dtype: int64

In [14]:
## aplicación de una funcion a columnas especificas 
## de un data.frame
import numpy as np
x[['sepal.length', 'sepal.width']].apply(np.mean)

sepal.length    5.843333
sepal.width     3.057333
dtype: float64

In [15]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())["sepal.length"]

variety
Setosa        5.006
Versicolor    5.936
Virginica     6.588
Name: sepal.length, dtype: float64

In [16]:
## aplica la función a la columna especificada por grupos
(x.groupby('variety').mean())[["sepal.length", 
                               "sepal.width",
                               "petal.length",
                               "petal.width"]]

            sepal.length  sepal.width  petal.length  petal.width
variety
Setosa             5.006        3.428         1.462        0.246
Versicolor         5.936        2.770         4.260        1.326
Virginica          6.588        2.974         5.552        2.026

In [17]:
## UNION
z = pandas.concat( [x.iloc[y.groups['Setosa']],
                    x.iloc[y.groups['Virginica']],
                    x.iloc[y.groups['Versicolor']]])

z['variety'].value_counts()

Versicolor    50
Setosa        50
Virginica     50
Name: variety, dtype: int64

### Pivotes

Los pivotes consisten en obtener varias columnas como index y operar a partir de las que permanecen dinámicas para apilarlas.

In [18]:
## Agrega una clave para identificar cada caso, es decir, cada registro
x['key'] = list(range(150))
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  key
0           5.1          3.5           1.4          0.2  Setosa    0
1           4.9          3.0           1.4          0.2  Setosa    1
2           4.7          3.2           1.3          0.2  Setosa    2
3           4.6          3.1           1.5          0.2  Setosa    3
4           5.0          3.6           1.4          0.2  Setosa    4

In [19]:
z = pandas.melt(x,                            # DataFrame
                id_vars = ['key', 'variety'], # columnas que no se apilan
                var_name = 'Variables',       # nombre de la columna que contiene las columnas apiladas 
                value_name = 'Valores')       # nombre de la columna que contiene los valores

In [20]:
z.head()

   key variety     Variables  Valores
0    0  Setosa  sepal.length      5.1
1    1  Setosa  sepal.length      4.9
2    2  Setosa  sepal.length      4.7
3    3  Setosa  sepal.length      4.6
4    4  Setosa  sepal.length      5.0

In [21]:
del x['key']

## Transformaciones

Preparación de datos.

In [22]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [23]:
## lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

### Stack & unstack

La función stack permite reunir el dataframe con varias columnas de index mientras unstack expande desagrupa los index y agrega mayor número de columnas que de pivotes.

In [24]:
x.stack().head(20)

0  sepal.length       5.1
   sepal.width        3.5
   petal.length       1.4
   petal.width        0.2
   variety         Setosa
1  sepal.length       4.9
   sepal.width          3
   petal.length       1.4
   petal.width        0.2
   variety         Setosa
2  sepal.length       4.7
   sepal.width        3.2
   petal.length       1.3
   petal.width        0.2
   variety         Setosa
3  sepal.length       4.6
   sepal.width        3.1
   petal.length       1.5
   petal.width        0.2
   variety         Setosa
dtype: object

In [25]:
(x.stack()).unstack().head(4)

  sepal.length sepal.width petal.length petal.width variety
0          5.1         3.5          1.4         0.2  Setosa
1          4.9           3          1.4         0.2  Setosa
2          4.7         3.2          1.3         0.2  Setosa
3          4.6         3.1          1.5         0.2  Setosa

### Tablas dinámicas

Así como se crean algunas columnas pivote, es posible asimilar las agrupaciones a las tablas dinámicas de Excel a través de una tabla pivote.

In [26]:
m = pandas.DataFrame( {'key1'    : ['a', 'a', 'b', 'b', 'c', 'c'],
                       'key2'    : ['A', 'B', 'A', 'B', 'A', 'B'],
                       'values1' : [ 1,   2,   3,   4,   5,   6 ],
                       'values2' : [ 7,   8,   9,  10,  11,  12]})
print(m)

  key1 key2  values1  values2
0    a    A        1        7
1    a    B        2        8
2    b    A        3        9
3    b    B        4       10
4    c    A        5       11
5    c    B        6       12

In [27]:
## Se crea el pivote
z = pandas.pivot_table(m, 
                       index = ['key1', 'key2'],
                       values = ['values1', 'values2'])

print(z)

           values1  values2
key1 key2
a    A           1        7
     B           2        8
b    A           3        9
     B           4       10
c    A           5       11
     B           6       12

### Unión

La unión de dos dataframe de Pandas es posible realizarlo a través de la función merge, la cual funciona cuando una de las dos tablas tiene un número de filas múltiplo del otro.

In [28]:
d1 = pandas.DataFrame({ 'x' : list(range(1,5)),
                        'y' : list(range(6,10))})

d2 = pandas.DataFrame({ 'x' : [ 1,  2,  3,  4,  5,  1,  2,  3,  4,   5],
                        'w' : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})

pandas.merge(d1, d2)

   x  y   w
0  1  6  10
1  1  6  60
2  2  7  20
3  2  7  70
4  3  8  30
5  3  8  80
6  4  9  40
7  4  9  90

### Variables dummy

In [29]:
## Se genera variables dummies para variables categóricas.
pandas.get_dummies(x.variety)

     Setosa  Versicolor  Virginica
0         1           0          0
1         1           0          0
2         1           0          0
3         1           0          0
4         1           0          0
..      ...         ...        ...
145       0           0          1
146       0           0          1
147       0           0          1
148       0           0          1
149       0           0          1

[150 rows x 3 columns]

## Inserción, borrado, casos duplicados y datos faltantes

Preparación de datos

In [30]:
## importa la librería
import pandas
import numpy as np

pandas.set_option('display.notebook_repr_html', False)

In [31]:
## lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')

### Inserción de columnas

Para modificar o generar valores nuevos a una columna, se debe indexar.

In [32]:
## creación de una nueva columna
x['n'] = 1 
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  n
0           5.1          3.5           1.4          0.2  Setosa  1
1           4.9          3.0           1.4          0.2  Setosa  1
2           4.7          3.2           1.3          0.2  Setosa  1
3           4.6          3.1           1.5          0.2  Setosa  1
4           5.0          3.6           1.4          0.2  Setosa  1

In [33]:
## Modificación de un valor particular
x.iat[0,5] = 10
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety   n
0           5.1          3.5           1.4          0.2  Setosa  10
1           4.9          3.0           1.4          0.2  Setosa   1
2           4.7          3.2           1.3          0.2  Setosa   1
3           4.6          3.1           1.5          0.2  Setosa   1
4           5.0          3.6           1.4          0.2  Setosa   1

In [34]:
## Modificación de una columna
x['n'] = list(range(150))
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety  n
0           5.1          3.5           1.4          0.2  Setosa  0
1           4.9          3.0           1.4          0.2  Setosa  1
2           4.7          3.2           1.3          0.2  Setosa  2
3           4.6          3.1           1.5          0.2  Setosa  3
4           5.0          3.6           1.4          0.2  Setosa  4

In [35]:
## Borrado de la columna
del x['n']
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [36]:
## los DataFrames son diccionarios y pueden manipularse como tal
## se indica en que posicion se inserta la columna con valores 
## lógicos
x.insert(2, 'logical_value', x['sepal.length'] > 4)
x.head()

   sepal.length  sepal.width  logical_value  petal.length  petal.width variety
0           5.1          3.5           True           1.4          0.2  Setosa
1           4.9          3.0           True           1.4          0.2  Setosa
2           4.7          3.2           True           1.3          0.2  Setosa
3           4.6          3.1           True           1.5          0.2  Setosa
4           5.0          3.6           True           1.4          0.2  Setosa

In [37]:
del x['logical_value']
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [38]:
## Alineación
## Suma las columnas colB
a = pandas.DataFrame({'colA': [1, 2],
                      'colB': [3, 4]})

b = pandas.DataFrame({'colB': [5, 6],
                      'colC': [7, 8]})

print(a)
print('')
print(b)
print('')
print(a + b)

   colA  colB
0     1     3
1     2     4

   colB  colC
0     5     7
1     6     8

   colA  colB  colC
0   NaN     8   NaN
1   NaN    10   NaN

In [39]:
## se pueden aplicar todas las operaciones matemáticas 
## existentes en numpy
np.sqrt(a)

       colA      colB
0  1.000000  1.732051
1  1.414214  2.000000

### Inserción de filas

In [40]:
## Adición de una fila (al final)
u = pandas.DataFrame({'sepal.length' : [1], 
                      'sepal.width' : [1], 
                      'petal.length' : [1], 
                      'petal.width' : [1], 
                      'variety' : ['Setosa']})

x.append(u, ignore_index = True).tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica
150           1.0          1.0           1.0          1.0     Setosa

### Casos duplicados y datos faltantes

In [41]:
## Se crea un vector aleatorio de indices
u = np.random.choice(range(150), 
                     size=20, 
                     replace=False)
u

array([ 51, 134,  27, 108, 120, 142,  71,  77,  78, 101,  37,  82, 106,
        95,  13,  93,  19, 102,  17,  87])

In [42]:
## Submuestra de data.frame original `x`
y = x.loc[u].copy()
y.head()

     sepal.length  sepal.width  petal.length  petal.width     variety
51            6.4          3.2           4.5          1.5  Versicolor
134           6.1          2.6           5.6          1.4   Virginica
27            5.2          3.5           1.5          0.2      Setosa
108           6.7          2.5           5.8          1.8   Virginica
120           6.9          3.2           5.7          2.3   Virginica

In [43]:
## Se cambian los nombres de las filas 
y.index = list(range(20))
y

    sepal.length  sepal.width  petal.length  petal.width     variety
0            6.4          3.2           4.5          1.5  Versicolor
1            6.1          2.6           5.6          1.4   Virginica
2            5.2          3.5           1.5          0.2      Setosa
3            6.7          2.5           5.8          1.8   Virginica
4            6.9          3.2           5.7          2.3   Virginica
5            5.8          2.7           5.1          1.9   Virginica
6            6.1          2.8           4.0          1.3  Versicolor
7            6.7          3.0           5.0          1.7  Versicolor
8            6.0          2.9           4.5          1.5  Versicolor
9            5.8          2.7           5.1          1.9   Virginica
10           4.9          3.6           1.4          0.1      Setosa
11           5.8          2.7           3.9          1.2  Versicolor
12           4.9          2.5           4.5          1.7   Virginica
13           5.7          3.0           4.2          1.2  Versicolor
14           4.3          3.0           1.1          0.1      Setosa
15           5.0          2.3           3.3          1.0  Versicolor
16           5.1          3.8           1.5          0.3      Setosa
17           7.1          3.0           5.9          2.1   Virginica
18           5.1          3.5           1.4          0.3      Setosa
19           6.3          2.3           4.4          1.3  Versicolor

In [44]:
## De la submuestra `y` se hacen varios registros incompletos
## cambiando varios valores en la columna `Sepal.Length` por NA
u = np.random.choice(range(20), size=10, replace=False)
u

array([ 2,  4, 19,  9,  3, 13, 15,  5, 10, 14])

In [45]:
y.iloc[u]

    sepal.length  sepal.width  petal.length  petal.width     variety
2            5.2          3.5           1.5          0.2      Setosa
4            6.9          3.2           5.7          2.3   Virginica
19           6.3          2.3           4.4          1.3  Versicolor
9            5.8          2.7           5.1          1.9   Virginica
3            6.7          2.5           5.8          1.8   Virginica
13           5.7          3.0           4.2          1.2  Versicolor
15           5.0          2.3           3.3          1.0  Versicolor
5            5.8          2.7           5.1          1.9   Virginica
10           4.9          3.6           1.4          0.1      Setosa
14           4.3          3.0           1.1          0.1      Setosa

In [46]:
## Casos con datos faltantes 
y.loc[u, 'sepal.length'] = np.nan
y

    sepal.length  sepal.width  petal.length  petal.width     variety
0            6.4          3.2           4.5          1.5  Versicolor
1            6.1          2.6           5.6          1.4   Virginica
2            NaN          3.5           1.5          0.2      Setosa
3            NaN          2.5           5.8          1.8   Virginica
4            NaN          3.2           5.7          2.3   Virginica
5            NaN          2.7           5.1          1.9   Virginica
6            6.1          2.8           4.0          1.3  Versicolor
7            6.7          3.0           5.0          1.7  Versicolor
8            6.0          2.9           4.5          1.5  Versicolor
9            NaN          2.7           5.1          1.9   Virginica
10           NaN          3.6           1.4          0.1      Setosa
11           5.8          2.7           3.9          1.2  Versicolor
12           4.9          2.5           4.5          1.7   Virginica
13           NaN          3.0           4.2          1.2  Versicolor
14           NaN          3.0           1.1          0.1      Setosa
15           NaN          2.3           3.3          1.0  Versicolor
16           5.1          3.8           1.5          0.3      Setosa
17           7.1          3.0           5.9          2.1   Virginica
18           5.1          3.5           1.4          0.3      Setosa
19           NaN          2.3           4.4          1.3  Versicolor

In [47]:
## apilado de dataframes 
## los casos 151 a 170 contienen casos duplicados o
## casos con datos faltantes
w = pandas.concat([x, y])
w.index = list(range(170))
w.tail(25)

     sepal.length  sepal.width  petal.length  petal.width     variety
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica
149           5.9          3.0           5.1          1.8   Virginica
150           6.4          3.2           4.5          1.5  Versicolor
151           6.1          2.6           5.6          1.4   Virginica
152           NaN          3.5           1.5          0.2      Setosa
153           NaN          2.5           5.8          1.8   Virginica
154           NaN          3.2           5.7          2.3   Virginica
155           NaN          2.7           5.1          1.9   Virginica
156           6.1          2.8           4.0          1.3  Versicolor
157           6.7          3.0           5.0          1.7  Versicolor
158           6.0          2.9           4.5          1.5  Versicolor
159           NaN          2.7           5.1          1.9   Virginica
160           NaN          3.6           1.4          0.1      Setosa
161           5.8          2.7           3.9          1.2  Versicolor
162           4.9          2.5           4.5          1.7   Virginica
163           NaN          3.0           4.2          1.2  Versicolor
164           NaN          3.0           1.1          0.1      Setosa
165           NaN          2.3           3.3          1.0  Versicolor
166           5.1          3.8           1.5          0.3      Setosa
167           7.1          3.0           5.9          2.1   Virginica
168           5.1          3.5           1.4          0.3      Setosa
169           NaN          2.3           4.4          1.3  Versicolor

In [48]:
## casos duplicados
## note que el caso 142 aparece duplicado
w[w.duplicated()]

     sepal.length  sepal.width  petal.length  petal.width     variety
142           5.8          2.7           5.1          1.9   Virginica
150           6.4          3.2           4.5          1.5  Versicolor
151           6.1          2.6           5.6          1.4   Virginica
156           6.1          2.8           4.0          1.3  Versicolor
157           6.7          3.0           5.0          1.7  Versicolor
158           6.0          2.9           4.5          1.5  Versicolor
159           NaN          2.7           5.1          1.9   Virginica
161           5.8          2.7           3.9          1.2  Versicolor
162           4.9          2.5           4.5          1.7   Virginica
166           5.1          3.8           1.5          0.3      Setosa
167           7.1          3.0           5.9          2.1   Virginica
168           5.1          3.5           1.4          0.3      Setosa

In [49]:
## Se eliminan los datos duplicados
## note que se eliminaron varios casos entre el 151 y el 170
w.drop_duplicates().tail(20)

     sepal.length  sepal.width  petal.length  petal.width     variety
138           6.0          3.0           4.8          1.8   Virginica
139           6.9          3.1           5.4          2.1   Virginica
140           6.7          3.1           5.6          2.4   Virginica
141           6.9          3.1           5.1          2.3   Virginica
143           6.8          3.2           5.9          2.3   Virginica
144           6.7          3.3           5.7          2.5   Virginica
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica
149           5.9          3.0           5.1          1.8   Virginica
152           NaN          3.5           1.5          0.2      Setosa
153           NaN          2.5           5.8          1.8   Virginica
154           NaN          3.2           5.7          2.3   Virginica
155           NaN          2.7           5.1          1.9   Virginica
160           NaN          3.6           1.4          0.1      Setosa
163           NaN          3.0           4.2          1.2  Versicolor
164           NaN          3.0           1.1          0.1      Setosa
165           NaN          2.3           3.3          1.0  Versicolor
169           NaN          2.3           4.4          1.3  Versicolor

In [50]:
## Se detectan los datos nulos 
w['sepal.length'].isnull().tail(10)

160     True
161    False
162    False
163     True
164     True
165     True
166    False
167    False
168    False
169     True
Name: sepal.length, dtype: bool

In [51]:
## se deben utilizar operadoreslógicos para considerar más columnas
w[w['sepal.length'].isnull()]

     sepal.length  sepal.width  petal.length  petal.width     variety
152           NaN          3.5           1.5          0.2      Setosa
153           NaN          2.5           5.8          1.8   Virginica
154           NaN          3.2           5.7          2.3   Virginica
155           NaN          2.7           5.1          1.9   Virginica
159           NaN          2.7           5.1          1.9   Virginica
160           NaN          3.6           1.4          0.1      Setosa
163           NaN          3.0           4.2          1.2  Versicolor
164           NaN          3.0           1.1          0.1      Setosa
165           NaN          2.3           3.3          1.0  Versicolor
169           NaN          2.3           4.4          1.3  Versicolor

In [52]:
## Se eleminan los casos con datos nulos. 
w.dropna().tail(20)

     sepal.length  sepal.width  petal.length  petal.width     variety
140           6.7          3.1           5.6          2.4   Virginica
141           6.9          3.1           5.1          2.3   Virginica
142           5.8          2.7           5.1          1.9   Virginica
143           6.8          3.2           5.9          2.3   Virginica
144           6.7          3.3           5.7          2.5   Virginica
145           6.7          3.0           5.2          2.3   Virginica
146           6.3          2.5           5.0          1.9   Virginica
147           6.5          3.0           5.2          2.0   Virginica
148           6.2          3.4           5.4          2.3   Virginica
149           5.9          3.0           5.1          1.8   Virginica
150           6.4          3.2           4.5          1.5  Versicolor
151           6.1          2.6           5.6          1.4   Virginica
156           6.1          2.8           4.0          1.3  Versicolor
157           6.7          3.0           5.0          1.7  Versicolor
158           6.0          2.9           4.5          1.5  Versicolor
161           5.8          2.7           3.9          1.2  Versicolor
162           4.9          2.5           4.5          1.7   Virginica
166           5.1          3.8           1.5          0.3      Setosa
167           7.1          3.0           5.9          2.1   Virginica
168           5.1          3.5           1.4          0.3      Setosa

## Estadísticos descriptivos

In [53]:
## resumen de estadísticos descriptivos
print(x.describe())

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [54]:
## Se halla la media
x.mean()

sepal.length    5.843333
sepal.width     3.057333
petal.length    3.758000
petal.width     1.199333
dtype: float64

In [55]:
x.mean(1).head()

0    2.550
1    2.375
2    2.350
3    2.350
4    2.550
dtype: float64

## Paneles de DataFrames

In [56]:
## se crean los DataFrames
df1 = pandas.DataFrame({'colA': [1, 2],
                        'colB': [3, 4]})

df2 = pandas.DataFrame({'colB': [5, 6],
                      '  colC': [7, 8]})

df3 = pandas.DataFrame({'colC': [9, 0],
                      '  colD': [1, 2]})

In [57]:
## creación del panel como un diccionario
pdPanel = { 'df1': df1,
            'df2': df2,
            'df3': df3}
print(pdPanel)

{'df1':    colA  colB
0     1     3
1     2     4, 'df2':    colB    colC
0     5       7
1     6       8, 'df3':    colC    colD
0     9       1
1     0       2}