# **Yeison Bermudez**


**1751400**


**Cuaderno #7 - Pandas básico**


**22 de Noviembre del 2019**

Lectura y escritura de archivos usando Pandas

In [1]:
## crea el DataFrame
## los DataFrame en Pandas son diccionarios
import pandas
df = pandas.DataFrame( {'index': list(range(1,6)),
                        'name': ['A', 'B', 'C', 'D', 'E'],
                        'value': [3.03, 5.14, 0.40, 1.13, 8.25]})
df

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

Formato nativo de Python con Pandas

In [2]:
## pandas.DataFrame
df.to_pickle('files/data.pickle')

In [3]:
pandas.read_pickle('files/data.pickle')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### Archivos delimitados por caracteres con Pandas

Se escribe el archivo data.csv de formato Pandas.DataFrame a un archivo .csv.

In [4]:
## Se escribe el archivo 
df.to_csv('files/data.csv',   # el nombre del archivo
          index = False)      # imprime los nombres de las filas?

## verifica el archivo creado
print(open('files/data.csv', 'r').read())

index,name,value
1,A,3.03
2,B,5.14
3,C,0.4
4,D,1.13
5,E,8.25

Es posible leer archivos .csv directamente desde el directorio de trabajo.

In [5]:
pandas.read_csv('files/data.csv')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [6]:
## La función read_csv para leer archivos contiene otros otros parámetros importantes
pandas.read_csv('files/data.csv',  # el archivo
                    sep = ',',         # separador de campos
                    thousands = None,  # separador de miles para números
                    decimal = '.')     # separador de los decimales para números

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [7]:
## Escribe el archivo con las especificaciones de formato
df.to_csv('files/data.csv2',     # nombre del archivo
           sep = ';',            # separador de campos
           decimal = ',',        # caracter decimal
           index = False)        # imprime indice de las filas?

## Verifica el archivo creado
print(open('files/data.csv2', 'r').read())

index;name;value
1;A;3,03
2;B;5,14
3;C;0,4
4;D;1,13
5;E;8,25

In [8]:
## Lee el archivo nuevamente
pandas.read_csv('files/data.csv2',
                 sep = ';',
                 thousands = None,
                 decimal = ',')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### TXT como tabla de texto con Pandas

In [9]:
## Escribe el archivo en formato .txt
df.to_csv('files/data.txt',     # nombre del archivo
          sep = ' ',            # separador de campos
          decimal = '.',        # caracter decimal
          index = False)        # imprime indice de las filas?

## verifica el archivo creado
print(open('files/data.txt', 'r').read())

index name value
1 A 3.03
2 B 5.14
3 C 0.4
4 D 1.13
5 E 8.25

In [10]:
# lee el archivo del disco
pandas.read_table('files/data.txt',
                   sep = ' ',
                   decimal = '.',
                   thousands = None)

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### Formato de ancho fijo con Pandas

In [11]:
# crea un archivo separado por multiples espacios en blanco.
# los nombres de las columnas están separados por comas.
text = """indexnames      valuescodes
    1john wick    2.13   10
    2mark twin    3.14   11
    3louis ng     4.34   12
    4dan brown    2.31   13
    5ann marie    4.98   14"""

with open('files/data.txt', 'w') as f:
    f.write(text)
    
## verifica el archivo creado
print(open('files/data.txt', 'r').read())

indexnames      valuescodes
    1john wick    2.13   10
    2mark twin    3.14   11
    3louis ng     4.34   12
    4dan brown    2.31   13
    5ann marie    4.98   14

In [12]:
## Lee el archivo nuevamente
pandas.read_fwf('files/data.txt', 
                colspecs = 'infer', 
                widths = [5, 9, 8, 5])

   index      names  values  codes
0      1  john wick    2.13     10
1      2  mark twin    3.14     11
2      3   louis ng    4.34     12
3      4  dan brown    2.31     13
4      5  ann marie    4.98     14

### JSON con Pandas

In [13]:
## Escribe el DataFrame al archivo tipo JSON
df.to_json('files/data.json')

## Verifica el archivo creado
print(open('files/data.json', 'r').read())

{"index":{"0":1,"1":2,"2":3,"3":4,"4":5},"name":{"0":"A","1":"B","2":"C","3":"D","4":"E"},"value":{"0":3.03,"1":5.14,"2":0.4,"3":1.13,"4":8.25}}

In [14]:
## Lee el archivo nuevamente
pandas.read_json('files/data.json')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### HTML con Pandas

In [15]:
## Convierte el DataFrame a HTML
df.to_html('files/data.html',
           index = False)

## Verifica el archivo creado
print(open('files/data.html', 'r').read())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>index</th>
      <th>name</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>A</td>
      <td>3.03</td>
    </tr>
    <tr>
      <td>2</td>
      <td>B</td>
      <td>5.14</td>
    </tr>
    <tr>
      <td>3</td>
      <td>C</td>
      <td>0.40</td>
    </tr>
    <tr>
      <td>4</td>
      <td>D</td>
      <td>1.13</td>
    </tr>
    <tr>
      <td>5</td>
      <td>E</td>
      <td>8.25</td>
    </tr>
  </tbody>
</table>

In [16]:
## Lee el archivo nuevamente
pandas.read_html('files/data.html')

[   index name  value
 0      1    A   3.03
 1      2    B   5.14
 2      3    C   0.40
 3      4    D   1.13
 4      5    E   8.25]

### Excel con Pandas

In [17]:
## Convierte el DataFrame a un libro de Excel
df.to_excel('files/data.xlsx',
            index = False)

In [18]:
## Lee el archivo nuevamente
pandas.read_excel('files/data.xlsx')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### HDF5 con Pandas

In [19]:
## Convierte el DataFrame a formato HF5
df.to_hdf('files/data.h5', 
          key = 'G1')

In [20]:
## Lee el archivo nuevamente aclarando que el campo clave será G1
pandas.read_hdf('files/data.h5',
                key = 'G1')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

In [21]:
## Lee el archivo nuevamente
pandas.read_hdf('files/data.h5')

   index name  value
0      1    A   3.03
1      2    B   5.14
2      3    C   0.40
3      4    D   1.13
4      5    E   8.25

### STATA con Pandas

In [22]:
## escribe el archivo
df.to_stata('files/data.dta')

## lee el archivo
pandas.read_stata('files/data.dta')

   level_0  index name  value
0        0      1    A   3.03
1        1      2    B   5.14
2        2      3    C   0.40
3        3      4    D   1.13
4        4      5    E   8.25

###  Lectura de PDFs

In [23]:
import PyPDF2
pdfFileObj = open('files/data.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfFileObj)
pageObj = pdfReader.getPage(0)
pageObj.extractText()

ModuleNotFoundError: No module named 'PyPDF2'

### Lectura de Matlab y Octave

In [24]:
import scipy.io as sio
sio.savemat('files/data', {'df': df})
sio.loadmat('files/data')

{'__header__': b'MATLAB 5.0 MAT-file Platform: nt, Created on: Fri Nov 22 09:46:52 2019',
 '__version__': '1.0',
 '__globals__': [],
 'df': array([[(array([[None]], dtype=object), array([[None]], dtype=object), array([[None]], dtype=object))]],
       dtype=[('index', 'O'), ('name', 'O'), ('value', 'O')])}

### SQL con Pandas

### Selección

A continuación se presentan algunas funciones para la selección e indexación de registros en un dataframe de Pandas, a partir del set de datos iris.csv que contiene información sobre algunas características de especies de plantas y su respectiva clasificación.

In [25]:
## lee el archivo del disco.
x = pandas.read_csv('files/iris.csv',
                     sep = ',',
                     thousands = None,
                     decimal = '.')
x.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [26]:
## Se imprime el número de registros que contiene el archivo
len(x)

150

In [27]:
## Se imprime el número de columnas que contiene el dataframe
len(list(x.axes[1]))

5

In [28]:
## Se imprime el número total de datos
x.size

750

In [29]:
## Se extrae la matriz traspuesta del dataframe, es decir, las columnas ahora son cada registro y las filas las cractaerísticas de la especie. 
print(x.T.head())

                 0       1       2       3       4       5       6       7    \
sepal.length     5.1     4.9     4.7     4.6       5     5.4     4.6       5
sepal.width      3.5       3     3.2     3.1     3.6     3.9     3.4     3.4
petal.length     1.4     1.4     1.3     1.5     1.4     1.7     1.4     1.5
petal.width      0.2     0.2     0.2     0.2     0.2     0.4     0.3     0.2
variety       Setosa  Setosa  Setosa  Setosa  Setosa  Setosa  Setosa  Setosa

                 8       9    ...        140        141        142        143  \
sepal.length     4.4     4.9  ...        6.7        6.9        5.8        6.8
sepal.width      2.9     3.1  ...        3.1        3.1        2.7        3.2
petal.length     1.4     1.5  ...        5.6        5.1        5.1        5.9
petal.width      0.2     0.1  ...        2.4        2.3        1.9        2.3
variety       Setosa  Setosa  ...  Virginica  Virginica  Virginica  Virginica

                    144        145        146        147        148        149
sepal.length        6.7        6.7        6.3        6.5        6.2        5.9
sepal.width         3.3          3        2.5          3        3.4          3
petal.length        5.7        5.2          5        5.2        5.4        5.1
petal.width         2.5        2.3        1.9          2        2.3        1.8
variety       Virginica  Virginica  Virginica  Virginica  Virginica  Virginica

[5 rows x 150 columns]

Es posible filtrar alguna información dentro de un DataFrame de Pandas a través del nombre de sus filas o columnas. A continuación se presentan algunas funciones necesarias para realizar dicha tarea:

In [30]:
## Parte inicial del dataframe
print(x.head())

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [31]:
## Primeros 3 registros de la tabla
print(x.head(3))

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [32]:
## Parte final del dataframe
print(x.tail())

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [33]:
## Últimos registros de la tabla
print(x.tail(3))

     sepal.length  sepal.width  petal.length  petal.width    variety
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [34]:
## Extrae el nombre de las columnas en una lista. Se debe especificar en que posición se encuentra la fila de nombres de columna
list(x.axes[1])

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [35]:
## Muestra el nombre de las columnas que por defecto componen las tablas
x.columns[1]

'sepal.width'

In [36]:
## Nombres que se les da las filas. Usualmente se generan automaticamente desde 0 hasta la longitud de del dataframe
x.index

RangeIndex(start=0, stop=150, step=1)

In [37]:
## Se extrae una lista que contiene el nombre de las filas
print(list(x.index))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

In [38]:
## La indexacción por columnas se realiza utilizando el nombre completo de la columna como una posición
## Se muestran los 5 primeros registros de la columna variety
x['variety'].head(5)

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [39]:
## Es posible indexar varias columnas con sus respectivos datos
x[['variety', 'sepal.length']].head(5)

  variety  sepal.length
0  Setosa           5.1
1  Setosa           4.9
2  Setosa           4.7
3  Setosa           4.6
4  Setosa           5.0

In [40]:
## Otra forma de obtener una columna
x.get('variety').head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [41]:
## Es posible tener acceso a la columna a través del operador '.'
x.variety.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

### 3. Indexación

La indexacción de filas y columnas es posible a través de las funciones locy iloc, de la librería Pandas. Loc permite indexar a través de los nombres de filas y columnas mientras iloc lo hace a partir de la indexacción numérica dentro de las posiciones de la tabla. A continuación se presentan algunos ejemplos:

#### ``loc[fila,columna]``

In [42]:
## El simbolo ':' en la primera posición significa que se obtienen todas las filas  
x.loc[:,['variety']].head()

  variety
0  Setosa
1  Setosa
2  Setosa
3  Setosa
4  Setosa

In [43]:
## La misma salida anterior pero con loc
x.loc[:].variety.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [44]:
x.loc[:]['variety'].head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

Es posible acceder a un elemento con una fila y columna en particular. Fila por columna como las posiciones de una matriz.

In [45]:
## Accede a la segunda fila
x.loc[2]

sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: 2, dtype: object

In [46]:
## Accede al dato de variety y Sepal_Length de la segunda fila
x.loc[2, ['variety', 'Sepal.Length']]

C:\Users\02ADSI\Anaconda3\lib\site-packages\pandas\core\indexing.py:961: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

variety         Setosa
Sepal.Length       NaN
Name: 2, dtype: object

Es posible cambiar tanto el nombre de las filas como el de las columnas en un dataframe de Pandas. A continuación se crea una lista con nuevos index y se agregan como id a la tabla:

In [47]:
key = ['case_{}'.format(n) for n in range(150)]
key[0:5]

['case_0', 'case_1', 'case_2', 'case_3', 'case_4']

In [48]:
## Se cambian los nombres de las filas
x.index = key
x.head()

        sepal.length  sepal.width  petal.length  petal.width variety
case_0           5.1          3.5           1.4          0.2  Setosa
case_1           4.9          3.0           1.4          0.2  Setosa
case_2           4.7          3.2           1.3          0.2  Setosa
case_3           4.6          3.1           1.5          0.2  Setosa
case_4           5.0          3.6           1.4          0.2  Setosa

In [49]:
## Selección por nombre de la fila
x.loc['case_2']

sepal.length       4.7
sepal.width        3.2
petal.length       1.3
petal.width        0.2
variety         Setosa
Name: case_2, dtype: object

In [50]:
## Selección por nombre de la fila
x.loc[['case_2', 'case_4']]

        sepal.length  sepal.width  petal.length  petal.width variety
case_2           4.7          3.2           1.3          0.2  Setosa
case_4           5.0          3.6           1.4          0.2  Setosa

In [51]:
## Selección por nombres de fila y columna
x.loc[['case_2'], ['sepal.length']]

        sepal.length
case_2           4.7

In [52]:
x.loc['case_2', 'sepal.length']

4.7

In [53]:
## selección por nombres de fila y columna
x.loc[['case_2', 'case_4'], ['sepal.length', 'sepal.width']]

        sepal.length  sepal.width
case_2           4.7          3.2
case_4           5.0          3.6

En algunos casos es necesario que la columna index sea un campo de los que contiene la tabla y al contrario, convertir el indice en una columna.

In [54]:
## Vuelve al indice por defecto
## Convierte el indice en una columna
x = x.reset_index()
x.head()

    index  sepal.length  sepal.width  petal.length  petal.width variety
0  case_0           5.1          3.5           1.4          0.2  Setosa
1  case_1           4.9          3.0           1.4          0.2  Setosa
2  case_2           4.7          3.2           1.3          0.2  Setosa
3  case_3           4.6          3.1           1.5          0.2  Setosa
4  case_4           5.0          3.6           1.4          0.2  Setosa

In [55]:
## Se elimina la columna index
del x['index']
x.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

#### ``iloc[fila,columna]``

In [56]:
## Selección de las primeras tres columnas
x.iloc[[0, 1, 2]].head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [57]:
## Selección de las primeras tres columnas
x.iloc[:,list(range(0, 3))].head()

   sepal.length  sepal.width  petal.length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [58]:
## selección de las últimas tres columnas
n = len(list(x.axes[1]))
x.iloc[:,list(range(n-3, n))].head()

   petal.length  petal.width variety
0           1.4          0.2  Setosa
1           1.4          0.2  Setosa
2           1.3          0.2  Setosa
3           1.5          0.2  Setosa
4           1.4          0.2  Setosa

In [59]:
## Selección de algunas columnas
x.iloc[:,[0,4]].head()

   sepal.length variety
0           5.1  Setosa
1           4.9  Setosa
2           4.7  Setosa
3           4.6  Setosa
4           5.0  Setosa

In [60]:
## Selección de las primeras 3 filas
x[:3]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [61]:
## Sesde la tercera hasta la última fila
x[3:].head()

   sepal.length  sepal.width  petal.length  petal.width variety
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa

In [62]:
## Selección por intervalos
print( x[::15] )

     sepal.length  sepal.width  petal.length  petal.width     variety
0             5.1          3.5           1.4          0.2      Setosa
15            5.7          4.4           1.5          0.4      Setosa
30            4.8          3.1           1.6          0.2      Setosa
45            4.8          3.0           1.4          0.3      Setosa
60            5.0          2.0           3.5          1.0  Versicolor
75            6.6          3.0           4.4          1.4  Versicolor
90            5.5          2.6           4.4          1.2  Versicolor
105           7.6          3.0           6.6          2.1   Virginica
120           6.9          3.2           5.7          2.3   Virginica
135           7.7          3.0           6.1          2.3   Virginica

In [63]:
## Orden inverso
print( x[::-1].head() )

     sepal.length  sepal.width  petal.length  petal.width    variety
149           5.9          3.0           5.1          1.8  Virginica
148           6.2          3.4           5.4          2.3  Virginica
147           6.5          3.0           5.2          2.0  Virginica
146           6.3          2.5           5.0          1.9  Virginica
145           6.7          3.0           5.2          2.3  Virginica

In [64]:
## Todas las filas excepto la última
x[:-1].tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica

In [65]:
## El campo que se encuentra en la fila 2 y columna 3
x.iloc[2, 3]

0.2

In [66]:
## valores para una fila particular
x.loc[[2]]

   sepal.length  sepal.width  petal.length  petal.width variety
2           4.7          3.2           1.3          0.2  Setosa

In [67]:
## indices como vector
x.iloc[[1, 3, 5]]

   sepal.length  sepal.width  petal.length  petal.width variety
1           4.9          3.0           1.4          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa

In [68]:
## indices como vector
x.iloc[[1, 3, 5],[0, 4]]

   sepal.length variety
1           4.9  Setosa
3           4.6  Setosa
5           5.4  Setosa

In [69]:
## Acceso rapido a un elemento
x.at[0, 'sepal.length']

5.1

### ``Indexación booleana``

Teniendo en cuenta loc y iloc, las tablas de pandas pueden ser filtradas a través de la aplicación de condiciones dentro de los datos de cada columna o fila.

In [70]:
## selección condicional. Retorna True si la condición se cumple y False si no la cumple.
(x['variety'] == 'virginica').head()

0    False
1    False
2    False
3    False
4    False
Name: variety, dtype: bool

In [71]:
## Al realizar el filtro con loc, se accede a los elementos que cumplen con la condición
x.loc[x['variety'] == 'virginica'].head()

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety]
Index: []

In [72]:
## El método `isin()` determina si un dato en particular se encuentra dentro del set
w = x['variety'].isin(['virginica'])
w.head()

0    False
1    False
2    False
3    False
4    False
Name: variety, dtype: bool

In [73]:
# Selecciona los elementos que cumplieron con la condición anterior
x[w].head()

Empty DataFrame
Columns: [sepal.length, sepal.width, petal.length, petal.width, variety]
Index: []

In [74]:
## Selección condicional
x.loc[x['petal.length'] > 3.2].head()

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [75]:
## Conteo de casos
x['variety'].value_counts()

Virginica     50
Setosa        50
Versicolor    50
Name: variety, dtype: int64