# **Yeison Bermudez**

**1751400**

**Cuaderno #3 - Transformación de datos**

**22 de Noviembre del 2019**

In [11]:
## lectura del archivo como una lista de strings
mail = open('Tabla.csv', 'r').readlines()
mail

['T,srcuser,srchost,dstuser,dsthost,size\n',
 '2006-05-11 10:15:08,barb,saturn,tricia,mars,58274\n',
 '2006-05-12 12:48:13,tricia,mars,gene,venus,194925\n',
 '2006-05-12 15:02:49,phil,mars,phill,saturn,1048\n',
 '2006-05-13 13:59:18,barb,saturn,tricia,venus,271\n',
 '2006-05-14 9:31:37,gene,venus,barb,mars,2291\n',
 '2006-05-14 11:52:17,phil,mars,tricia,saturn,5781\n',
 '2006-05-14 14:42:21,barb,venus,barb,venus,98151\n',
 '2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482\n',
 '2006-05-15 7:17:48,gene,mars,gene,saturn,3824\n',
 '2006-05-15 8:50:57,phil,venus,phil,venus,978\n',
 '2006-05-15 10:25:52,gene,mars,tricia,saturn,998532\n',
 '2006-05-15 17:35:31,gene,saturn,gene,mars,3856\n',
 '2006-05-16 9:00:28,gene,venus,barb,mars,613\n',
 '2006-05-16 23:04:19,phil,venus,barb,venus,10294\n',
 '2006-05-17 12:49:23,phil,mars,tricia,saturn,873\n',
 '2006-05-19 22:21:51,gene,saturn,gene,venus,23992']

In [12]:
## elimina los `\n` al final de cada string
mail = [row[0:-1] for row in mail]
mail

['T,srcuser,srchost,dstuser,dsthost,size',
 '2006-05-11 10:15:08,barb,saturn,tricia,mars,58274',
 '2006-05-12 12:48:13,tricia,mars,gene,venus,194925',
 '2006-05-12 15:02:49,phil,mars,phill,saturn,1048',
 '2006-05-13 13:59:18,barb,saturn,tricia,venus,271',
 '2006-05-14 9:31:37,gene,venus,barb,mars,2291',
 '2006-05-14 11:52:17,phil,mars,tricia,saturn,5781',
 '2006-05-14 14:42:21,barb,venus,barb,venus,98151',
 '2006-05-14 17:03:01,tricia,saturn,phil,venus,2394482',
 '2006-05-15 7:17:48,gene,mars,gene,saturn,3824',
 '2006-05-15 8:50:57,phil,venus,phil,venus,978',
 '2006-05-15 10:25:52,gene,mars,tricia,saturn,998532',
 '2006-05-15 17:35:31,gene,saturn,gene,mars,3856',
 '2006-05-16 9:00:28,gene,venus,barb,mars,613',
 '2006-05-16 23:04:19,phil,venus,barb,venus,10294',
 '2006-05-17 12:49:23,phil,mars,tricia,saturn,873',
 '2006-05-19 22:21:51,gene,saturn,gene,venus,2399']

In [13]:
## parte el archivo por las `,`
mail = [row.split(',') for row in mail]
mail

[['T', 'srcuser', 'srchost', 'dstuser', 'dsthost', 'size'],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', '1048'],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [14]:
## separa los nombres y los datos
mail = mail[1:]

In [15]:
## Selección de algunas columnas en diferente orden
[[row[0], row[2], row[1],row[4], row[3], row[5]] for row in mail]

[['2006-05-11 10:15:08', 'saturn', 'barb', 'mars', 'tricia', '58274'],
 ['2006-05-12 12:48:13', 'mars', 'tricia', 'venus', 'gene', '194925'],
 ['2006-05-12 15:02:49', 'mars', 'phil', 'saturn', 'phill', '1048'],
 ['2006-05-13 13:59:18', 'saturn', 'barb', 'venus', 'tricia', '271'],
 ['2006-05-14 9:31:37', 'venus', 'gene', 'mars', 'barb', '2291'],
 ['2006-05-14 11:52:17', 'mars', 'phil', 'saturn', 'tricia', '5781'],
 ['2006-05-14 14:42:21', 'venus', 'barb', 'venus', 'barb', '98151'],
 ['2006-05-14 17:03:01', 'saturn', 'tricia', 'venus', 'phil', '2394482'],
 ['2006-05-15 7:17:48', 'mars', 'gene', 'saturn', 'gene', '3824'],
 ['2006-05-15 8:50:57', 'venus', 'phil', 'venus', 'phil', '978'],
 ['2006-05-15 10:25:52', 'mars', 'gene', 'saturn', 'tricia', '998532'],
 ['2006-05-15 17:35:31', 'saturn', 'gene', 'mars', 'gene', '3856'],
 ['2006-05-16 9:00:28', 'venus', 'gene', 'mars', 'barb', '613'],
 ['2006-05-16 23:04:19', 'venus', 'phil', 'venus', 'barb', '10294'],
 ['2006-05-17 12:49:23', 'mars', 'phil', 'saturn', 'tricia', '873'],
 ['2006-05-19 22:21:51', 'saturn', 'gene', 'venus', 'gene', '2399']]

In [17]:
## se quiere seleccionar las filas donde srchost='venus'
## Selección de algunas columnas en diferente orden
[[row [0], row[2], row[1]] for row in mail if row[2] == 'venus']

[['2006-05-14 9:31:37', 'venus', 'gene'],
 ['2006-05-14 14:42:21', 'venus', 'barb'],
 ['2006-05-15 8:50:57', 'venus', 'phil'],
 ['2006-05-16 9:00:28', 'venus', 'gene'],
 ['2006-05-16 23:04:19', 'venus', 'phil']]

In [18]:
import re
[[row[0], row[1], row[2]]for row in mail if re.search('^s', row[2])]

[['2006-05-11 10:15:08', 'barb', 'saturn'],
 ['2006-05-13 13:59:18', 'barb', 'saturn'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn'],
 ['2006-05-15 17:35:31', 'gene', 'saturn'],
 ['2006-05-19 22:21:51', 'gene', 'saturn']]

In [19]:
[[row[0], row[1], row[2],] for row in mail if row[1] == 'barb' and row[3] == 'tricia']

[['2006-05-11 10:15:08', 'barb', 'saturn'],
 ['2006-05-13 13:59:18', 'barb', 'saturn']]

In [20]:
[[row[0],row[1] + '@' + row[2], row[3]+ '@' +row[4]] for row in mail]

[['2006-05-11 10:15:08', 'barb@saturn', 'tricia@mars'],
 ['2006-05-12 12:48:13', 'tricia@mars', 'gene@venus'],
 ['2006-05-12 15:02:49', 'phil@mars', 'phill@saturn'],
 ['2006-05-13 13:59:18', 'barb@saturn', 'tricia@venus'],
 ['2006-05-14 9:31:37', 'gene@venus', 'barb@mars'],
 ['2006-05-14 11:52:17', 'phil@mars', 'tricia@saturn'],
 ['2006-05-14 14:42:21', 'barb@venus', 'barb@venus'],
 ['2006-05-14 17:03:01', 'tricia@saturn', 'phil@venus'],
 ['2006-05-15 7:17:48', 'gene@mars', 'gene@saturn'],
 ['2006-05-15 8:50:57', 'phil@venus', 'phil@venus'],
 ['2006-05-15 10:25:52', 'gene@mars', 'tricia@saturn'],
 ['2006-05-15 17:35:31', 'gene@saturn', 'gene@mars'],
 ['2006-05-16 9:00:28', 'gene@venus', 'barb@mars'],
 ['2006-05-16 23:04:19', 'phil@venus', 'barb@venus'],
 ['2006-05-17 12:49:23', 'phil@mars', 'tricia@saturn'],
 ['2006-05-19 22:21:51', 'gene@saturn', 'gene@venus']]

In [21]:
[row for row in mail if float(row[5])/1024 > 500]

[['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

In [22]:
[row[1] for row in mail]

['barb',
 'tricia',
 'phil',
 'barb',
 'gene',
 'phil',
 'barb',
 'tricia',
 'gene',
 'phil',
 'gene',
 'gene',
 'gene',
 'phil',
 'phil',
 'gene']

In [23]:
set([row[1] for row in mail])

{'barb', 'gene', 'phil', 'tricia'}

In [25]:
len(set([row[1] for row in mail]))

4

In [30]:
taxpayer = open('tabla.csv', 'r').readlines()
taxpayer = [row[0:-1] for row in taxpayer]
taxpayer = [row.split(',') for row in taxpayer]
taxpayer

[['T', 'srcuser', 'srchost', 'dstuser', 'dsthost', 'size'],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', '1048'],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [31]:
taxpayer = [ [element if element != 'NULL' else None for element in row] for row in taxpayer]
taxpayer

[['T', 'srcuser', 'srchost', 'dstuser', 'dsthost', 'size'],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', '1048'],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [32]:
[row for row in taxpayer if row[1] is not None]

[['T', 'srcuser', 'srchost', 'dstuser', 'dsthost', 'size'],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', '58274'],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', '1048'],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', '271'],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', '2291'],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', '5781'],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', '98151'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', '3824'],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', '978'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532'],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', '3856'],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', '613'],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', '10294'],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', '873'],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', '2399']]

In [33]:
from operator import itemgetter
sorted([row for row in mail if int(row[5])> 100000], key=itemgetter(5))

[['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', '194925'],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', '2394482'],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', '998532']]

In [34]:
mail = [[element if index != 5 else int (element) for index, element in enumerate (row)] for row in mail]
mail

[['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', 58274],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', 1048],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 ['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399]]

In [35]:
sorted ([row for row in mail if int(row[5])> 100000], key=itemgetter(5))

[['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]

In [36]:
sorted([row for row in mail], key=itemgetter(1,3))

[['2006-05-14 14:42:21', 'barb', 'venus', 'barb', 'venus', 98151],
 ['2006-05-11 10:15:08', 'barb', 'saturn', 'tricia', 'mars', 58274],
 ['2006-05-13 13:59:18', 'barb', 'saturn', 'tricia', 'venus', 271],
 ['2006-05-14 9:31:37', 'gene', 'venus', 'barb', 'mars', 2291],
 ['2006-05-16 9:00:28', 'gene', 'venus', 'barb', 'mars', 613],
 ['2006-05-15 7:17:48', 'gene', 'mars', 'gene', 'saturn', 3824],
 ['2006-05-15 17:35:31', 'gene', 'saturn', 'gene', 'mars', 3856],
 ['2006-05-19 22:21:51', 'gene', 'saturn', 'gene', 'venus', 2399],
 ['2006-05-15 10:25:52', 'gene', 'mars', 'tricia', 'saturn', 998532],
 ['2006-05-16 23:04:19', 'phil', 'venus', 'barb', 'venus', 10294],
 ['2006-05-15 8:50:57', 'phil', 'venus', 'phil', 'venus', 978],
 ['2006-05-12 15:02:49', 'phil', 'mars', 'phill', 'saturn', 1048],
 ['2006-05-14 11:52:17', 'phil', 'mars', 'tricia', 'saturn', 5781],
 ['2006-05-17 12:49:23', 'phil', 'mars', 'tricia', 'saturn', 873],
 ['2006-05-12 12:48:13', 'tricia', 'mars', 'gene', 'venus', 194925],
 ['2006-05-14 17:03:01', 'tricia', 'saturn', 'phil', 'venus', 2394482]]